.banner {
  height: 100vh;
  // scroll-snap-align: center;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  @media (max-width: 500px) {
  }
  .banner-content {
    // background-color: blue;
    margin: 0 auto;
    // min-width: 1300px;

    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    // font-size: 10px;
    // @media (max-width: 500px) {
    //   font-size: 5px;
    // }
    .banner-intro {
      flex: 1;
      margin-right: auto;
      width: 70%;
      // width: 90%;
      //   max-width: 900px;
      //   text-align: center;
      color: rgb(167, 165, 165);
      font-size: 10px;
      .intro {
        font-size: 4rem;
        padding: 0;
        margin: 10px 0px 5px 0;
        @media (max-width: 500px) {
          font-size: 2rem;
        }
        span {
          font-size: 5rem;
          margin: 0;
          color: rgb(206, 119, 4);
          @media (max-width: 500px) {
            font-size: 3rem;
          }
        }
      }

      .bar {
        width: 50%;
        background-color: aqua;
        height: 1px;
        margin-top: 20px;
      }
      .university {
        margin: 20px 0 0 0;
        padding: 0;
        font-size: 3em;
        @media (max-width: 500px) {
          font-size: 0.8rem;
        }
      }
      .btn-group {
        display: flex;
        gap: 15px;
        .link-btn {
          display: block;
          margin-top: 15px;
          color: rgb(206, 119, 4);
          // font-size: 18px;
          font-size: 1rem;
          border: 2px solid rgb(206, 119, 4);
          width: fit-content;
          padding: 10px 35px;
          border-radius: 10px;
          transition: all 0.5s;
          &:hover {
            color: aqua;
            border-radius: 0;
            border: 2px solid aqua;
          }

          @media (max-width: 500px) {
            font-size: 0.7rem;
            border: 1px solid rgb(206, 119, 4);
          }
        }
      }
    }
    img {
      width: 21%;
      position: absolute;
      margin: auto;
      right: 0;
      z-index: -1;
      filter: brightness(30%);
      @media (max-width: 500px) {
        width: 50%;
      }
    }
  }
}
